.footer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: white;
  margin-top: 100px;
  div {
    margin: auto;
    color: rgba(65, 64, 66, 0.2);
    display: flex;
    a {
      margin: 16px 8px;
      color: rgba(65, 64, 66, 0.2);
    }
  }
}